.app {
  text-align: left;
}

.logo{
  display: inline-block;
}

.logo img{
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

.app-top-bar {
  background-color: #222;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fork img{
  position: absolute; top: 0; right: 0; border: 0;
  height: 110px
}

, .app-content, .app-bottom-bar{
  padding-left: 12px;
  padding-right: 12px;
}

.app-top-bar, .app-top-bar a:link,.app-top-bar a:visited{
  color: white;
}

.app-content{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left:12px;
  padding-right:12px;
}

.app-nav-bar {
  vertical-align: top;
  font-size: large;
  display: inline-block;
  list-style: none;
}

.app-nav-bar li{
  display: inline-block;
  margin: 2px;
}

.app-nav-bar li .button{
  border-width: 0
}

.app-nav-bar li:hover{
  background-color: grey;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


ul.categories, ul.posts, ul.comments{
  list-style: none;
  text-align: left;
  margin:0;
  padding:0;
}

ul.categories li{
  display: inline-block;
  margin: 8px 8px 8px 0px;
}

.postList .modal-card-foot {
  justify-content: center;
}
table.posts th{
  text-align: center;
}
table.posts td, table.posts th{
  border-right:#cccccc solid 1px;
  padding: 3px;
  vertical-align: middle;
  border-width: 1px;
}

table.table tbody tr:last-child td, table.table tbody tr:last-child th {
    border-bottom-width: 1px;
}

.score{
  text-align: center;
}

.center{
  text-align: center;
}


.post .title, .post .body, .post .comments{
  padding-top: 6px;
}

.post .vote, .post .content{
  display:inline-block;
  vertical-align: top;
}

.post .content{
  padding:3px 6px;
}

.post .category{
  background-color: #E1ECF4
}

.vote{
  width: 80px;
  text-align: center;
}

.vote .score{
  padding: 3px;
}

input.title{
  width:280px
}

input.author{
  width:180px
}

textarea.body{
  width:280px;
  height:200px;
}

.button{
  padding:3px;
  color: #FFF;
  background-color: #5fba7d;
  cursor: pointer;
}

.post .action > span{
  padding: 3px 6px;
  color: #6a737c;
  background-color: #E0EAF1;
  font-size: small;
}

ul.comments{
  border-width: 1px 0px 0px;
  border-style: solid;
  border-color: grey;
}

ul.comments li{
  padding:3px;
}
